<a href="https://colab.research.google.com/github/Mrasad210/mrasad12github.io/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1. Write a program to print numbers from  1 to 10, but stop if the number is 5.
#Ans -
number = 1

while number <= 10:
    if number == 5:
        break
    print(number)
    number += 1

1
2
3
4

In [3]:
#Q2. Write a program to iterate through a list and stop when encountering a specific element.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
stop_element = 7

for element in my_list:
    if element == stop_element:
        break
    print(element)

1
2
3
4
5
6

In [9]:
#Q3. Write a program to skip printing even numbers from 1 to 10.
for i in range(1,10):
  if i%2 != 0:
    print(i)

1
3
5
7
9

In [10]:
#Q4. Write a program to print numbers from 0 to 9 using range().
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
#Q5. Write a program to print multiplication tables from 0 to 5, but stop after the first table is printed for each
#number.
for i in range(6):
    print(f"Multiplication table for {i}:")
    for j in range(1, 6):
        print(f"{i} x {j} = {i * j}")
    print()

Multiplication table for 0:
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [18]:
#Q6. Write a program to skip printing even numbers using a while loop.
n=0
while n<10:
  if n%2 !=0:
    print(n)
  n=n+1

1
3
5
7
9