<a href="https://colab.research.google.com/github/Mrasad210/mrasad12github.io/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Convert an integer to a floating-point number.

my_integer = 10
my_float = float(my_integer)
print(my_float)

10.0

In [2]:
# Convert a float to a iteger.
my_float  = 10.3
my_integer = int(my_float)
print(my_integer)

10

In [8]:
# convert an integer to a string.
my_integer = 12
my_string = str(my_integer)
print(my_string)

12

In [9]:
#Covert a list to a tuple.
my_list = [1,2,3,4,5]
my_tuple= tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [10]:
#Convert a tuple to a list
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [11]:
#Convert a decimal number to binary.
my_decimal = 5
my_binary = bin(my_decimal)
print(my_binary)

0b101

In [12]:
#Convert a noo-zero number to boolean.
my_number = 3
my_boolean = bool(my_number)
print(my_boolean)

True